<div class="row">
    <div class="col-md-4" *ngFor="let item of posts$">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">{{ (item.text | slice:0:70) + '..' }}</p>
                <button type="button" class="btn btn-sm btn-outline-primary" [routerLink]="['/posts', item.id]">Read more</button>
                <div class="text-right">
                    <small class="text-muted">{{ item.time * 1000 | date }}</small>
                </div>
            </div>
        </div>
    </div>
</div>
